html {
    position: fixed;
    overflow: hidden;
}

body {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.head_container {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 20px;
    border: solid 1px black;
    z-index: 1;
}

canvas.notebook_canvas {
    position: absolute;
    border: 1px solid #000;
    touch-action: none;
    z-index: 0;
    left: 0;
    top: 0;
}


.content_container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;

    transform-origin: 0 0;
}

.markdown_area {
    position: absolute;
}

.markdown_area.selected {
    outline: rgba(98, 145, 255, 0.79) 5px solid;
}

/* .vditor-ir pre.vditor-reset:focus {
    background: none !important;
}

.vditor-ir pre.vditor-reset {
    background: none !important;
} */

.vditor-toolbar--hide {
    display: none;
}